{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	<div class="breadcrumbs-wrap style-2">
		<div class="container">
			<h1 class="page-title">Obt&eacuten un estimado</h1>
		</div>
	</div>
	<div id="content" class="page-content-wrap">
		<div class="container">
			
			<div class="row flex-row">
				<main id="main" class="col-md-8 col-sm-12 sbr">
					
					<div class="alert alert-info" role="alert">
						<strong>¡Hola!</strong> Este es nuestro cotizador de servicios en linea. En la parte de abajo podras encontrar los servicios disponibles para cotizar.
						En caso de no encontrar lo que buscabas, puedes llamarnos a los numeros: <strong>984 109 3825 / 984 254 1198</strong>
					</div>
					<div class="content-element3">
						<div class="row">
							<div class="col-xs-12">
								<label><span class="required">¿En que servicio estas interesado?</span></label>
								<div class="row">
									{% for category in service_categories %}
										<div class="col-xs-4">
											<button type="button" class="btn btn-primary btn-service-category btn-services" data-toggle="modal" data-target="#{{ category.id }}">{{ category.ServiceCategoryName }}</button>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</main>
				<aside id="sidebar" class="col-md-4 col-sm-12 sbr">
					<div class="widget">
						<h5 class="widget-title">Special Online Offer</h5>
						<div class="content-element3">
							<a href="#" class="coupon">
								<div class="inner">
									<h2 class="price-title"><span>$</span>25 OFF</h2>
									<div class="disc-for">ON ANY REPAIR</div>
									<button type="button" class="btn btn-style-3 btn-small">Click to print</button>
									<p>Must be presented at the time of service. Can not be combined with any other offer.</p>
								</div>
							</a>
						</div>
						<a href="#" class="btn btn-small">More Coupons</a>
					</div>
				</aside>
			</div>
		</div>
	</div>
	{% for category in service_categories %}
		<div class="modal fade" id="{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{ category.ServiceCategoryName }}</h4>
					</div>
					<div class="modal-body">
						<form>
							<label>Base (En metros)</label>
							<input type="number">
							<label>Altura (En metros)</label>
							<input type="number">
							<label>Marca de la pintura</label>
							<select id="select-options">
								<option>Seleccionar</option>
							</select>
							<label>Comentarios</label>
							<input type="text">
							<div id="html"></div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Listo</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	
{% endblock %}
{% block footer %}
	{{ parent() }}
	<script src="{{ asset('assets/js/modalProviders.js')}}"></script>
{% endblock %}