{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	<br>
	<br>
	<br>
	<ul>
		{% for description in descriptions %}
			{% if description.price == 0 and description.description == "Pintura" %}
				<form action="">
					<h2>{{ description.description }}</h2>
					<label for="">Base (En metros)</label>
					<input type="number">
					<label for="">Altura (En metros)</label>
					<input type="number">
					<label for="">Comentarios</label>
					<input type="textarea">
				</form>
				<br>
			{% elseif description.price == 0 and description.description == "Impermeabilizado" %}
				<form action="">
					<h2>{{ description.description }}</h2>
					<label for="">Base (En metros)</label>
					<input type="number">
					<label for="">Altura (En metros)</label>
					<input type="number">
					<label for="">Comentarios</label>
					<input type="textarea">
				</form>
				<br>
			{% else %}
				<h2>{{ description.description }}</h2>
				<p>{{ description.Price }}</p>
				<br>
			{% endif %}
		{% endfor %}
	</ul>
	<a href="{{ path('cotizador') }}">Regresar</a>

{% endblock %}