{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	<br>
	<br>
	<br>
	<form action="{{ path('form_data') }}" method="POST">
		{% for description in descriptions %}
			{% if description.price == 0 %}
				{% if description.provider == "NULL" %}
					<h2>{{ description.description }}</h2>
				{% else %}
					<h2>{{ description.description }} ({{ description.provider }})</h2>
				{% endif %}
				<label for="">Base (En metros)</label>
				<input type="number" class="base" name="base[]" id="{{ description.id }}">
				<label for="">Altura (En metros)</label>
				<input type="number" class="altura" name="altura[]" id="{{ description.id }}">
				<label for="">Comentarios</label>
				<input type="textarea" class="comentarios" name="comentarios[]" id="{{ description.id }}">
				<input type="hidden" class="idsServicios" name="idsServicios[]" value="{{ description.id }}">
				<br>
			{% else %}
				{% if description.provider == "NULL" %}
					<h2>{{ description.description }}</h2>
				{% else %}
					<h2>{{ description.description }} ({{ description.provider }})</h2>
				{% endif %}
				<input type="hidden" class="serviciosConPrecio" name="serviciosConPrecio[]" value="{{ description.Price }}">{{ description.Price }}
				<input type="hidden" class="idsServicios" name="idsServicios[]" value="{{ description.id }}">
				<br>
			{% endif %}
		{% endfor %}
		<input type="submit" value="Cotizar">
	</form>
	<br>
	<a href="{{ path('cotizador') }}">Regresar</a>

{% endblock %}