{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	
	{% if tipo == 0 %}

		{% if precioTotal is defined and service_description is defined %}
			{% for description in service_description %}
				{% if description.provider == "NULL" %}
					<h4>{{ description.description }}</h4>
				{% else %}
					<h4>{{ description.description }} ({{ description.provider }})</h4>
				{% endif %}
				<p>Precio del servicio: {{ description.price }}</p>
			{% endfor %}
			<p>Precio Total: {{ precioTotal }}</p>
		{% endif %}

	{% elseif tipo == 1 %}

		{% if serviciosConSusValores is defined and service_description is defined and precioTotal is defined %}
			{% for servicio in serviciosConSusValores %}
				{% for description in service_description %}
					{% if servicio.id == description.id %}
						{% if description.provider == "NULL" %}
							<h4>{{ description.description }}</h4>
						{% else %}
							<h4>{{ description.description }} ({{ description.provider }})</h4>
						{% endif %}
					{% endif %}
				{% endfor %}
				<p>Base (En metros): {{ servicio.base }}</p>
				<p>Altura (En metros): {{ servicio.altura }}</p>
				<p>Metros Cuadrados: {{ servicio.metrosCuadrados }}</p>
				<p>Comentario: {{ servicio.comentario }}</p>
				<p>Precio del servicio: {{ servicio.precio }}</p>
			{% endfor %}
			{% for description in service_description %}
				{% if description.price != 0 %}
					{% if description.provider == "NULL" %}
							<h4>{{ description.description }}</h4>
						{% else %}
							<h4>{{ description.description }} ({{ description.provider }})</h4>
						{% endif %}
					<p>{{ description.price }}</p>
				{% endif %}
			{% endfor %}
			<p>Precio Total: {{ precioTotal }}</p>
		{% endif %}

	{% elseif tipo == 2 %}

		{% if serviciosConSusValores is defined and service_description is defined and precioTotal is defined %}
			{% for servicio in serviciosConSusValores %}
				{% for description in service_description %}
					{% if servicio.id == description.id %}
						{% if description.provider == "NULL" %}
							<h4>{{ description.description }}</h4>
						{% else %}
							<h4>{{ description.description }} ({{ description.provider }})</h4>
						{% endif %}
					{% endif %}
				{% endfor %}
				<p>Base (En metros): {{ servicio.base }}</p>
				<p>Altura (En metros): {{ servicio.altura }}</p>
				<p>Metros Cuadrados: {{ servicio.metrosCuadrados }}</p>
				<p>Comentario: {{ servicio.comentario }}</p>
				<p>Precio del servicio: {{ servicio.precio }}</p>
			{% endfor %}
			<p>Precio Total: {{ precioTotal }}</p>
		{% endif %}

	{% endif %}

	<div class="content-element3">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-4">
						<button type="button" class="btn btn-primary btn-service-category" data-toggle="modal" data-target="#info-client">Descargar PDF</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="info-client" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Datos de contacto</h4>
					</div>

					<form action="{{ path('user_information') }}" method="POST">
						<div class="modal-body">
							<label for="">Nombre: </label>
							<input type="text" name="name" id="name" required>
							<label for="">Correo: </label>
							<input type="email" name="email" id="email" required>
							<label for="">Teléfono: </label>
							<input type="number" name="phone" id="phone" required>
							<label for="">¿De donde nos contactan?: </label>
							<select name="location" id="location">
								<option value="Seleccionar">Seleccionar</option>
								<option value="Playa del Carmen">Playa del Carmen</option>
								<option value="Cancún">Cancún</option>
								<option value="Tulúm">Tulúm</option>
							</select>
							<label for="">Comentarios: </label>
							<input type="textarea" name="comment" id="comment">
							<input type="hidden" id="visitor" name="visitor" value="{{ visitor.id }}">
							<input type="hidden" id="precioTotal" name="precioTotal" value="{{ precioTotal }}">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</form>

				</div>
			</div>
		</div>

{% endblock %}