{% extends 'layouts/master-admin.html.twig' %}
{% block title %} {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	<br>
	<br>
	<br>
	<p>Nombre(s): {{ user.name }}</p>
	<p>Apellido(s): {{ user.lastname }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Rol: {{ user.roleUser }}</p>
	<p>Usuario creado el: {{ user.createdAt|date('d/m/Y') }}</p>
{% endblock %}