{% extends 'layouts/master.html.twig' %}

{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}

{% block metatags %}
	<meta charset="utf-8">
    <meta name="author" content="Crealab.com.mx">
    <meta name="keywords" content="empresa de servicio y mantenimiento, servicio de mantenimiento y limpieza, empresa de mantenimiento, mantenimiento de edificación, mantenimiento y reparación, Mantenimiento general">
    <meta name="description" content="Realizamos servicio y mantenimiento para todo tipo de edificación como casas habitación, oficinas, negocios, comercios, condominios, hoteles y espacios habitables en general.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block body %}

<div class="rev-slider-wrapper">
        <div id="rev-slider" class="rev-slider"  data-version="5.0">
            <ul>
                <li data-transition="fade">
                    <img src="{{ asset('assets/images/alco/index/slide/alco-playa-del-carmen-mantenimiento.jpg')}}" class="rev-slidebg" alt="empresa de servicio y mantenimiento en general">
                    
                    <div class="tp-caption tp-resizeme scaption-dark-large"
                        data-x="['left','left','left','left']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="-105"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >MANTENIMIENTO INTEGRAL
                    </div>
                   
                    <div class="tp-caption tp-resizeme scaption-dark-medium"
                        data-x="['left','left','left','left']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="-40"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >Instalación, reparación y mantenimiento
                    </div>
                    
                    <div class="tp-caption tp-resizeme scaption-dark-small"
                        data-x="['left','left','left','left']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="15"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" ><p>¡Satisfacción garantizada!</p>
                    </div>
                    
                    <div class="tp-caption tp-resizeme"
                        data-x="['left','left','left','left']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="85"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" ><a href="{{ path('services') }}" class="btn btn-style-2 btn-big">Ver servicios</a>
                    </div>
                    
                </li>
                <li data-transition="fade">
                    <img src="{{ asset('assets/images/alco/index/slide/mantenimiento-integral-en-playa-del-carmen.jpg')}}" class="rev-slidebg" alt="empresa de servicio y mantenimiento ">
                    
                    <div class="tp-caption tp-resizeme scaption-white-large2"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="-55"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >CONOCE A NUESTROS CLIENTES
                    </div>
                    
                    <div class="tp-caption tp-resizeme scaption-white-medium2"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="10"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >¡Ellos confían en nosotros!
                    </div>
                    
                    <div class="tp-caption tp-resizeme"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="95"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" ><a href="{{ path('portfolio') }}" class="btn btn-style-2 btn-big">Portafolio</a>
                    </div>
                    
                </li>
                <li data-transition="fade">
                    <img src="{{ asset('assets/images/alco/index/slide/alco-mantenimiento-integral-en-playa.jpg')}}" class="rev-slidebg" alt="empresa de servicio y mantenimiento en playa del carmen">
                   
                    <div class="tp-caption tp-resizeme scaption-dark-large"
                        data-x="['right','right','right','right']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="-105"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >SERVICIOS DE CALIDAD
                    </div>
                    
                    <div class="tp-caption tp-resizeme scaption-dark-medium"
                        data-x="['right','right','right','right']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="-40"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" >Somos profesionales en el area
                    </div>
                    
                    <div class="tp-caption tp-resizeme scaption-dark-small"
                        data-x="['right','right','right','right']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="15"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" ><p>¡Trabajos de excelencia!</p>
                    </div>
                    
                    <div class="tp-caption tp-resizeme"
                        data-x="['right','right','right','right']" data-hoffset="30"
                        data-y="['middle','middle','middle','middle']" data-voffset="85"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-responsive_offset="on"
                        data-elementdelay="0.05" ><a href="{{ path('cotizador') }}" class="btn btn-style-2 btn-big">Cotizar ahora</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   
    <div class="icons-box style-2 icons-bg" style="margin-bottom: 0px !important;">
        <div class="flex-row fx-col-4">
            
            <div class="icons-wrap">
                <div class="icons-item">
                    <div class="item-box">
                        <i class="licon-hammer-wrench"></i>
                        <h3 class="icons-box-title"><a href="{{ path('services') }}">Servicios que ofrecemos</a></h3>
                        <a href="{{ path('services') }}" class="btn btn-small btn-style-5">Ver servicios</a>
                    </div>
                </div>
            </div>

            <div class="icons-wrap">
                <div class="icons-item">
                    <div class="item-box">
                        <i class="licon-apartment"></i>
                        <h3 class="icons-box-title"><a href="{{ path('portfolio') }}">Proyectos que hemos realizados</a></h3>
                        <a href="{{ path('portfolio') }}" class="btn btn-small btn-style-5">Ver portafolio</a>
                    </div>
                </div>
            </div>
            
            <div class="icons-wrap">
                <div class="icons-item">
                    <div class="item-box">
                        <i class="licon-contacts"></i>
                        <h3 class="icons-box-title"><a href="{{ path('contact') }}">Información de contacto</a></h3>
                        <a href="{{ path('contact') }}" class="btn btn-small btn-style-5">Contactar</a>
                    </div>
                </div>
            </div>
            
            <div class="icons-wrap">
                <div class="icons-item">
                    <div class="item-box">
                        <i class="licon-receipt"></i>
                        <h3 class="icons-box-title"><a href="{{ path('cotizador') }}">Cotiza tu próximo proyecto </a></h3>
                        <a href="{{ path('cotizador') }}" class="btn btn-small btn-style-5">Cotizar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="content">
        
       
        <div class="page-section-bg4 type4 half-bg-col">
            <div class="img-col-right"><a class="col-bg" data-bg="{{ asset('assets/images/alco/index/acerca-de-alco-mantenimiento-integral-en-playa.jpg')}}"></a></div>
            <div class="container extra-size2">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="section-sub-title"></h6>
                        <h1 class="section-title"><strong>MANTENIMIENTO INTEGRAL</strong></h1>
                        <p class="text-size-medium">Realizamos un servicio especializado de mantenimiento integral para todo tipo de edificación como casas habitación, oficinas, negocios, plazas, comercios, condominios, parques, hoteles y espacios habitables en general.</p>
                        <a href="{{ path('services') }}" class="btn btn-small">Ver los servicios</a>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>

        <div class="page-section-bg">
            <div class="container extra-width-2">
                <div class="content-element4 align-center">
                    <h2 class="section-title">SERVICIOS PARA TU SIGUIENTE PROYECTO</h2>
                </div>
                <div class="carousel-type-3">
                    <div class="owl-carousel dot-style-2" data-max-items="1">
                        <div class="item-carousel">
                            <div class="icons-box style-4">
                                <div class="flex-row fx-col-3">
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/servicio-de-arquitectura-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_arquitectura') }}">Arquitectura</a></h5>
                                                <ul>
                                                    <li>Diseño de espacios,</li>
                                                    <li>Proyectos arquitectónicos,</li>
                                                    <li>Catálogos, Presupuestos y Gestoría</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/alco-servicio-de-obra-civil-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_obra_civil') }}">Obra Civil</a></h5>
                                                <ul>
                                                    <li>Cimentación,</li>
                                                    <li>Estructura,</li>
                                                    <li>Albañilería y</li>
                                                    <li>Edificación</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/mantenimiento-integral-y-acabados-en-playa.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_acabados') }}">Acabados</a></h5>
                                                <ul>
                                                    <li>Pisos (Cerámica, porcelanato, marmol y madera),</li>
                                                    <li>Tablaroca y Durock,</li>
                                                    <li>Lambrines</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/instalaciones-hidraulicas-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_hidraulicas_sanitarias') }}">Instalaciones hidráulicas y sanitarias</a></h5>
                                                <ul>
                                                    <li>Red hidráulica,</li>
                                                    <li>Red sanitaria,</li>
                                                    <li>Calentadores y bombas,</li>
                                                    <li>Equipo hidro-sanitario</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/instalaciones-electricas-en-playa.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_instalaciones_electricas') }}">Instalaciones Eléctricas</a></h5>
                                                <ul>
                                                    <li>Instalaciones en baja y media tensión,</li>
                                                    <li>Acometidas, Iluminación </li>
                                                    <li>y Automatización de equipos</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/construccion-y-mantenimiento-de-albercas-por-alco.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_albercas') }}">Albercas</a></h5>
                                                <ul>
                                                    <li>Construcción,</li>
                                                    <li>Mantenimiento y</li>
                                                    <li>Accesorios </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                   
                        <div class="item-carousel">
                            <div class="icons-box style-4">
                                <div class="flex-row fx-col-3">
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/servicio-de-fumigacion-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_fumigacion') }}">Fumigación</a></h5>
                                                <ul>
                                                    <li>Animales rastreros,</li>
                                                    <li>Roedores y</li>
                                                    <li>Termitas </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/instalacion-de-aires-acondicionados-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_aires_acondicionados') }}">Aires Acondicionados</a></h5>
                                                <ul>
                                                    <li>Colocación,</li>
                                                    <li>Instalación y </li>
                                                    <li>Mantenimiento</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/instalaciones-de-gas-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_instalaciones_gas') }}">Instalaciones de Gas</a></h5>
                                                <ul>
                                                    <li>Suministro,</li>
                                                    <li>Colocación,</li>
                                                    <li>Instalación y </li>
                                                    <li>Conexión</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/palapas-y-pergolas-en-playa-del-carmen.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_palapas_pergolas') }}">Palapas y Pergolas</a></h5>
                                                <ul>
                                                    <li>Suministro,</li>
                                                    <li>Colocación y</li>
                                                    <li>Mantenimiento</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="icons-wrap">
                                        <div class="icons-item">
                                            <div class="item-box">
                                                <img src="{{ asset('assets/images/alco/iconos/reparacion-y-mantenimiento-de-electrodomesticos-en-playa.png')}}" width="40" class="icon-p" alt="">
                                                <h5 class="icons-box-title"><a href="{{ path('services_electrodomesticos') }}">Mantenimiento de electrodomésticos</a></h5>
                                                <ul>
                                                    <li>Lavadoras,</li>
                                                    <li>Secadoras,</li>
                                                    <li>Refrigeradores,</li>
                                                    <li>Estufas y Hornos</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="call-out type1">
            <div class="container">
                <div class="align-center">
                    <h2>¿Deseas ver nuestro portafolio?</h2>
                    <h4><a href="{{ path('portfolio') }}" style="color: white;">Haz click para ver los trabajos que hemos realizado.</a></h4>
                </div>
            </div>
        </div>-->
   
        <!--<div class="page-section">
            <div class="container">
                <div class="carousel-type-2">
                    <div class="owl-carousel" data-item-margin="30" data-max-items="6" data-autoplay="true">

                        <div class="item-carousel">
            
                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>
            
                        </div>
                        <div class="item-carousel">
                
                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>
                 
                        </div>
                        <div class="item-carousel">
                
                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>
         
                        </div>
                        <div class="item-carousel">

                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>
     
                        </div>
                        <div class="item-carousel">
      
                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>

                        </div>
                        <div class="item-carousel">

                            <a href="#"><img src="{{ asset('assets/images/alco/logo-cliente.jpg')}}" alt=""></a>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>-->
       
        <!--<div class="page-section type2 parallax-section" data-bg="{{ asset('assets/images/alco/index/alco-playa-del-carmen-servicio-y-mantenimiento-integral.jpg')}}">
            
            <div class="container">
                <div class="row counter-wrap style-2">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="counter">
                            <div class="count-item">
                                <span class="licon-users"></span>
                                <h3 class="timer count-number" data-to="15" data-speed="1500">0</h3>
                            </div>
                            <p>Nuestro Equipo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="counter">
                            <div class="count-item">
                                <span class="licon-medal-empty"></span>
                                <h3 class="timer count-number" data-to="10" data-speed="1500">0</h3>
                            </div>
                            <p>Años Trabajando</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="counter">
                            <div class="count-item">
                                <span class="licon-smile"></span>
                                <h3 class="timer count-number" data-to="15" data-speed="1500">0</h3>
                            </div>
                            <p>Clientes Satisfechos</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="counter">
                            <div class="count-item">
                                <span class="licon-check"></span>
                                <h3 class="timer count-number" data-to="130" data-speed="1500">0</h3>
                            </div>
                            <p>Proyectos Realizados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        
        <div class="call-out call-out-form">
            <div class="container">
                <div class="call-out-item">
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="section-title">ENVÍANOS UN MENSAJE</h2>
                            <p class="text-size-medium">Ingresa tus datos y envianos un mensaje con el servicio que te interesa y enseguida nos pondremos en contacto contigo.</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form id="contact-form" class="form-wrap flex-row fx-col-2 style-2">
                                <div class="form-col">
                                    <input type="text" name="cf-name" placeholder="Nombre*" required>
                                </div>
                                <div class="form-col">
                                    <input type="email" name="cf-email" placeholder="E-mail*" required>
                                </div>
                                <div class="form-col">
                                    <input type="tel" name="cf-phone" placeholder="Teléfono*" required>
                                </div>
                                <div class="form-col">
                                    <div class="custom-select">
                                        <div class="select-title">Servicio*</div>
                                    <ul id="menu-type" class="select-list"></ul>
                                    <select class="hide" name="cf-service">
                                        <option value="menu">Arquitectura</option>
                                        <option value="menu">Obra civil</option>
                                        <option value="menu">Acabados</option>
                                        <option value="menu">Instalaciones Hidráulicas y Sanitarias</option>
                                        <option value="menu">Instalaciones Eléctricas</option>
                                        <option value="menu">Albercas</option>
                                        <option value="menu">Fumigación</option>
                                        <option value="menu">Aires acondicionados</option>
                                        <option value="menu">Instalaciones de gas</option>
                                        <option value="menu">Palapas y Pergolas</option>
                                        <option value="menu">Mantenimiento de electrodomésticos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-col full-width">
                                <textarea name="cf-message"  placeholder="Mensaje*"></textarea>
                            </div>
                            <div class="form-col full-width">
                                <button type="submit" data-type="submit" class="btn btn-style-5 full-width" id="btn-send">Enviar mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
