{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum  {% endblock %}
{% block metatags %}
	<meta charset="utf-8">
	<meta name="author" content="Crealab.com.mx">
	<meta name="keywords" content="empresa de servicio y mantenimiento, servicio de mantenimiento y limpieza, empresa de mantenimiento, mantenimiento de edificación, mantenimiento y reparación, Mantenimiento general">
	<meta name="description" content="Realizamos servicio y mantenimiento para todo tipo de edificación como casas habitación, oficinas, negocios, comercios, condominios, hoteles y espacios habitables en general.">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
	<div class="breadcrumbs-wrap style-2">
		<div class="container">
			<h1 class="page-title">ACERCA DE ALCO</h1>
		</div>
	</div>
	<div id="content">
		<div class="page-section-bg4 type4 half-bg-col">
			<div class="img-col-right"><div class="col-bg" data-bg="{{ asset('assets/images/alco/nosotros/acerca-de-alco-mantenimiento-integral-en-playa-del-carmen.jpg')}}"></div></div>
			<div class="container extra-size2">
				<div class="row">
					<div class="col-md-6">
						<h2>¿QUIÉNES SOMOS?</h2>
						<p>En Alco contamos con el personal técnico y de campo especializado para cada una de las actividades, garantizando un servicio de calidad y con la seguridad de que somos una empresa 100% responsable. Uno de nuestros objetivos es de cuidar la economía de nuestros clientes a través de un estudio en el área de oportunidad, ofreciendo precios competitivos dentro del mercado actual.
						</p>
						<a href="{{ path('contact') }}" class="btn btn-small">¡Contactar ahora!</a>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		</div>
		<div class="page-section custom-background-grey">
			
			<div class="container">
				<h2 class="section-title">¿POR QUÉ ELEGIRNOS?</h2>
				
				<div class="icons-box style-1">
					<div class="row flex-row">
						
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="icons-wrap">
								<div class="icons-item">
									<div class="item-box">
										<img src="{{ asset('assets/images/alco/iconos/somos-especialistas-en-ofrecer-soluciones-integrales-alco.png') }}" width="40"  alt="">
										<h5 class="icons-box-title"><a href="{{ path('about') }}">Somos especialistas</a></h5>
										<p>Especialistas en mantenimiento integral para edificaciones como casas habitación, oficinas, negocios, plazas y mucho más.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							
							<div class="icons-wrap">
								<div class="icons-item">
									<div class="item-box">
										<img src="{{ asset('assets/images/alco/iconos/personal-altamente-capacitado-alco.png') }}" width="40" alt="">
										<h5 class="icons-box-title"><a href="{{ path('about') }}">Somos profesionales</a></h5>
										<p>Nuestro equipo cuenta con la capacitación necesaria para llevar a cabo sus actividades de manera eficiente.</p>
									</div>
								</div>
							</div>
							
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							
							<div class="icons-wrap">
								<div class="icons-item">
									<div class="item-box">
										<img src="{{ asset('assets/images/alco/iconos/somos-una-empresa-responsable-alco-playa.png') }}" width="40" alt="">
										<h5 class="icons-box-title"><a href="{{ path('about') }}">Somos responsables</a></h5>
										<p>Responsable con nuestros clientes, ofrenciendo soluciones accesibles y responsable con nuestro equipo capacitandolos para sus actividades. </p>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!--<div class="page-section-bg2 parallax-section" data-bg="{{ asset('assets/images/1920x800_bg1.jpg')}}">
			<div class="container">
				<h2 class="section-title">Equipo y Clientes</h2>
				<div class="row counter-wrap style-2">
					<div class="col-lg-3 col-md-3 col-xs-6">
						<div class="counter">
							<div class="count-item">
								<span class="licon-users"></span>
								<h3 class="timer count-number" data-to="15" data-speed="1500">0</h3>
							</div>
							<p>Nuestro Equipo</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-6">
						<div class="counter">
							<div class="count-item">
								<span class="licon-medal-empty"></span>
								<h3 class="timer count-number" data-to="10" data-speed="1500">0</h3>
							</div>
							<p>Años Trabajando</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-6">
						<div class="counter">
							<div class="count-item">
								<span class="licon-smile"></span>
								<h3 class="timer count-number" data-to="15" data-speed="1500">0</h3>
							</div>
							<p>Clientes Satisfechos</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-6">
						<div class="counter">
							<div class="count-item">
								<span class="licon-check"></span>
								<h3 class="timer count-number" data-to="130" data-speed="1500">0</h3>
							</div>
							<p>Proyectos Realizados</p>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<!--<div class="page-section">
			<div class="container">
				<div class="team-holder">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="team-item">
								<div class="team-member">
									<a href="#" class="member-photo">
										<img src="{{ asset('assets/images/360x260_img4.jpg')}}" alt="">
									</a>
									<div class="team-desc">
										<div class="member-info">
											<h4 class="member-name"><a href="#">Nuestra misión</a></h4>
											<p>Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. </p>
											{# <a href="#" class="info-btn">Read More</a> #}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6">
							
							<div class="team-item">
								<div class="team-member">
									<a href="#" class="member-photo">
										<img src="{{ asset('assets/images/360x260_img5.jpg')}}" alt="">
									</a>
									<div class="team-desc">
										<div class="member-info">
											<h4 class="member-name"><a href="#">Nuestra visión</a></h4>
											<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="team-item">
								<div class="team-member">
									<a href="#" class="member-photo">
										<img src="{{ asset('assets/images/360x260_img6.jpg')}}" alt="">
									</a>
									<div class="team-desc">
										<div class="member-info">
											<h4 class="member-name"><a href="#">Valores</a></h4>
											<p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<div class="call-out call-out-form">
            <div class="container">
                <div class="call-out-item">
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="section-title">ENVÍANOS UN MENSAJE</h2>
                            <p class="text-size-medium">Ingresa tus datos y envianos un mensaje con el servicio que te interesa y enseguida nos pondremos en contacto contigo.</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form id="contact-form" class="form-wrap flex-row fx-col-2 style-2">
                                <div class="form-col">
                                    <input type="text" name="cf-name" placeholder="Nombre*" required>
                                </div>
                                <div class="form-col">
                                    <input type="email" name="cf-email" placeholder="E-mail*" required>
                                </div>
                                <div class="form-col">
                                    <input type="tel" name="cf-phone" placeholder="Teléfono*" required>
                                </div>
                                <div class="form-col">
                                    <div class="custom-select">
                                        <div class="select-title">Servicio*</div>
                                    <ul id="menu-type" class="select-list"></ul>
                                    <select class="hide" name="cf-service">
                                        <option value="menu">Arquitectura</option>
                                        <option value="menu">Obra civil</option>
                                        <option value="menu">Acabados</option>
                                        <option value="menu">Instalaciones Hidráulicas y Sanitarias</option>
                                        <option value="menu">Instalaciones Eléctricas</option>
                                        <option value="menu">Albercas</option>
                                        <option value="menu">Fumigación</option>
                                        <option value="menu">Aires acondicionados</option>
                                        <option value="menu">Instalaciones de gas</option>
                                        <option value="menu">Palapas y Pergolas</option>
                                        <option value="menu">Mantenimiento de electrodomésticos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-col full-width">
                                <textarea name="cf-message"  placeholder="Mensaje*"></textarea>
                            </div>
                            <div class="form-col full-width">
                                <button type="submit" data-type="submit" class="btn btn-style-5 full-width" id="btn-send">Enviar mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}