<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{% block title %} {% endblock %}</title>
		{% block metatags %} {% endblock %}
		{% block googlescripts %} {% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oswald:400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/font/demo-files/demo.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/font/custom/styles.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/fancybox/jquery.fancybox.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/settings.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/layers.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/navigation.css') }}">
		<!-- css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/fontello.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/custom.css')}}">
	</head>
	<body>
		<div class="loader"></div>
		<div id="wrapper" class="wrapper-container">
		<nav id="mobile-advanced" class="mobile-advanced"></nav>
		<header id="header" class="header style-3 sticky-header">
			<div class="searchform-wrap">
				<div class="vc-child h-inherit">
					<form>
						<button type="submit" class="btn btn-style-5">Buscar</button>
						<div class="wrapper">
							<input type="text" name="search" placeholder="Start typing...">
						</div>
					</form>
					<button class="close-search-form"></button>
				</div>
			</div>
			<div class="top-header">
				<div class="container extra-width">
					<div class="flex-row flex-justify flex-center">
						<div class="logo-wrap">
							<a href="{{ path('index') }}" class="logo"><img src="{{ asset('assets/images/alco/logotipo-alco-mantenimiento-integral-playa-del-carmen.png') }}" alt=""></a>
						</div>
						<ul class="contact-info">
							<li class="info-item">
								{% if app.user %}
									<i class="licon-user"></i>
									<div class="item-info">
										<h4>Bienvenido {{ app.user.name }}</h4>
									</div>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="menu-holder">
				<div class="container extra-width">
					<div class="menu-wrap">
						<div class="nav-item flex-row flex-justify flex-center">
							<nav id="main-navigation" class="main-navigation">
								<ul id="menu" class="clearfix">
									{% if app.user %}
										<li><a href="{{ path('dashboard') }}">Inicio</a></li>
										<li><a href="{{ path('collaborators') }}">Colaboradores</a></li>
										<li><a href="{{ path('list_categories') }}">Categorías</a></li>
										<li><a href="{{ path('list_services') }}">Servicios</a></li>
										<li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>
									{% else %}
										<li><a href="{{ path('login') }}">Iniciar Sesión</a></li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
	{% block body %}
	{% endblock %}
	{% block footer %}
		<script>
			var URL = "{{ app.request.getSchemeAndHttpHost() }}/alco/public/index.php";
		</script>
		<script src="{{ asset('assets/js/libs/jquery.modernizr.js') }}"></script>
		<script src="{{ asset('assets/js/libs/jquery-2.2.4.min.js')}}"></script>
		<script src="{{ asset('assets/js/libs/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('assets/js/libs/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/libs/retina.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/jquery.themepunch.tools.min.js?ver=5.0') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/jquery.themepunch.revolution.min.js?ver=5.0') }}"></script>
		<script src="{{ asset('assets/plugins/fancybox/jquery.fancybox.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/jquery.queryloader2.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
		<!-- ======================== JS theme files ======================== -->
		<script src="{{ asset('assets/js/plugins.js') }}"></script>
		<script src="{{ asset('assets/js/script.js') }} "></script>
	{% endblock %}
	
</body>
</html>