<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{% block title %} {% endblock %}</title>
		{% block metatags %} {% endblock %}
		{% block googlescripts %} {% endblock %}

		<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oswald:400,700" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/font/demo-files/demo.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/font/custom/styles.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/fancybox/jquery.fancybox.css') }}">

		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/settings.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/layers.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/plugins/revolution/css/navigation.css') }}">
		<!-- css -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/fontello.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/custom.css')}}">
	</head>
	<body>
		<div class="loader"></div>
		
		<div id="wrapper" class="wrapper-container">
			
		<nav id="mobile-advanced" class="mobile-advanced"></nav>
		
		<header id="header" class="header style-3 sticky-header">
			<div class="searchform-wrap">
				<div class="vc-child h-inherit">
					<form>
						<button type="submit" class="btn btn-style-5">Buscar</button>
						<div class="wrapper">
							<input type="text" name="search" placeholder="Start typing...">
						</div>
					</form>
					<button class="close-search-form"></button>
				</div>
			</div>
			<div class="pre-header">
				
				<div class="container extra-width">
					<div class="flex-row flex-justify">
						<ul class="menu-list">
							<li><i class="licon-clock3"></i> L - V: 9:00 - 17:00 hrs / S: 9:00 - 14:00 hrs</li>
							<li><i class="licon-map-marker"></i> Playa del Carmen - Cancún - Tulúm</li>
						</ul>
						<ul class="social-icons">
							<li><a href="mailto:alco@alcoplaya.com"><i class=" icon-mail"></i> alco@alcoplaya.com</a></li>
							<li><a href="https://www.facebook.com/alcoplaya/"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="top-header">
				<div class="container extra-width">
					<div class="flex-row flex-justify flex-center">
						<div class="logo-wrap">
							<a href="#" class="logo"><img src="{{ asset('assets/images/alco/logotipo-alco-mantenimiento-integral-playa-del-carmen.png') }}" alt=""></a>
						</div>
						<ul class="contact-info">
							<li class="info-item">
								<i class="licon-telephone2"></i>
								<div class="item-info">
									<span>Llámanos</span>
									<h4>984 120 1992 - 984 169 7805</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="menu-holder">
				
				<div class="container extra-width">
					
					<div class="menu-wrap">
						<div class="nav-item flex-row flex-justify flex-center">
							
							<nav id="main-navigation" class="main-navigation">
								<ul id="menu" class="clearfix">
									<li class="current"><a href="#">Inicio</a></li>
									<li class=""><a href="servicios-de-mantenimiento-integral-por-alco">Servicios</a></li>
									<li class=""><a href="trabajos-realizados-por-alco">Portafolio</a> </li>
									<li class=""><a href="acerca-de-alco-mantenimiento-integral">Nosotros</a> </li>
									<li class=""><a href="alco-informacion-de-contacto">Contacto</a> </li>
								</ul>
							</nav>
							
							<div class="search-holder">
								<a href="cotiza-tu-servicio" class="btn btn-style-5"> Cotizador</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		{% block body %}
		{% endblock %}
		<footer id="footer" class="footer style-2">
			<div class="main-footer">
				<div class="container">
					
					<div class="row flex-row">
						
						<div class="col-md-4 col-xs-6">
							
							<!-- widget -->
							<div class="widget">
								<a href="index.html" class="logo"><img src="{{ asset('assets/images/alco/logotipo-alco-mantenimiento-integral-playa-del-carmen-footer.png')}}" alt="Alco Playa empresa de servicio y mantenimiento en playa del carmen"></a>
								<div class="content-element3">
									<br><p class="content-element1">Alco es una empresa en Playa del Carmen, dedicada a ofrecer servicios de mantenimiento integral. Garantizando un servicio de calidad y con la seguridad de que es una empresa 100% responsable y profesional.</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-2 col-xs-6">
							<!-- widget -->
							<div class="widget">
								<h5 class="widget-title">Páginas</h5>
								<ul class="info-links">
									<li><a href="#">Inicio</a></li>
									<li><a href="servicios-de-mantenimiento-integral-por-alco">Servicios</a></li>
									<li><a href="trabajos-realizados-por-alco">Portafolio</a></li>
									<li><a href="acerca-de-alco-mantenimiento-integral">Nosotros</a></li>
									<li><a href="alco-informacion-de-contacto">Contacto</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-3 col-xs-6">
							
							<!-- widget -->
							<div class="widget">
								<h5 class="widget-title">Contáctanos</h5>
								<div class="content-element3">
									<p class="content-element1"> 984 120 1992 - 984 169 7805</p>
									<p class="content-element1"><a href="mailto:alco@alcoplaya.com" class="link-text">alco@alcoplaya.com</a></p>
									<ul class="social-icons style-2">
										<li><a href="https://www.facebook.com/alcoplaya"><i class="icon-facebook"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="widget">
								<h5 class="widget-title">Solicita una cotización</h5>
								<div class="search-holder">
									<a href="cotiza-tu-servicio" class="btn btn-style-5">Cotizar ahora</a>
								</div>
							</div>
						</div>
						
					</div>
					<div class="copyright">
						<p>2018 © Alco. Todos los derechos reservador. | Sitio Web creado con <span style="color: #C4355A">❤</span> por <a href="https://crealab.com.mx" class="link-text">Crealab</a></p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	
	{% block footer %}
		<script src="{{ asset('assets/js/libs/jquery.modernizr.js') }}"></script>
		<script src="{{ asset('assets/js/libs/jquery-2.2.4.min.js')}}"></script>
		<script src="{{ asset('assets/js/libs/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('assets/js/libs/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/libs/retina.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/jquery.themepunch.tools.min.js?ver=5.0') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/jquery.themepunch.revolution.min.js?ver=5.0') }}"></script>
		<script src="{{ asset('assets/plugins/fancybox/jquery.fancybox.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/jquery.queryloader2.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
		<script src="{{ asset('assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
		<!-- JS theme files
		============================================ -->
		<script src="{{ asset('assets/js/plugins.js') }}"></script>
		<script src="{{ asset('assets/js/script.js') }} "></script>
	{% endblock %}
	
</body>
</html>